# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_language_version:
    python: python3.10

default_stages: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-toml
    -   id: check-added-large-files
        args: [--maxkb=2000]

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format

-   repo: local
    hooks:
    -   id: coverage
        name: coverage
        entry: coverage run -m unittest discover tests
        language: system
        pass_filenames: false
        always_run: true
        verbose: true
        stages: [manual]  # pre-push
