sphinx==7.3.7
numpydoc==1.7.0
sphinx_autodoc_typehints==2.2.2
sphinx-gallery==0.16.0
sphinxcontrib-bibtex==2.6.2
pydata_sphinx_theme==0.15.4
matplotlib
more_itertools
--find-links https://download.pytorch.org/whl/cpu
torch
botorch
